.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  position: relative;
}

.link.active {
  color: #e84a5f;
}

.link::before {
  content: "";
  background-color: hsla(196, 61%, 58%, 0.75);
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.link:hover::before {
  bottom: 0;
  height: 100%;
}
