.containerBook {
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px black solid;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}

.field {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  border-radius: 6px;
}

.error {
  color: red;
}

.btn {
  width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.disabled {
  background: #c9c9c9;
  cursor: not-allowed;
}
